@page
@model RegisterModel
@{ ViewData["Title"] = "Register";
                var serverRegionItems = this.Model.ServerRegionItems; }

<div class="card card-authentication1 mx-auto">
    <div class="card-body ">
        <div class="text-center">
            <img src="~/images/logo-icon.png" alt="logo icon" />
        </div>
        <div class="card-title text-uppercase text-center py-3">@ViewData["Title"]</div>
        <form asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Input.Email"></label>
                <div class="position-relative has-icon-right">
                    <input asp-for="Input.Email" class="form-control" placeholder="example@email.com" />
                    <div class="form-control-position">
                        <i class="icon-user"></i>
                    </div>
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Input.Password"></label>
                <div class="position-relative has-icon-right">
                    <input asp-for="Input.Password" class="form-control" placeholder="Must have at least 6 characters" />
                    <div class="form-control-position">
                        <i class="icon-lock"></i>
                    </div>
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Input.ConfirmPassword"></label>
                <div class="position-relative has-icon-right">
                    <input asp-for="Input.ConfirmPassword" class="form-control" />
                    <div class="form-control-position">
                        <i class="icon-lock"></i>
                    </div>
                    <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Input.SummonerName"></label>
                <input asp-for="Input.SummonerName" class="form-control" placeholder="Enter your in game name" />
                <span asp-validation-for="Input.SummonerName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.ServerRegionId"></label>
                <select asp-for="Input.ServerRegionId" asp-items="serverRegionItems" class="form-control dropdown-toggle"></select>
                <span asp-validation-for="Input.ServerRegionId" class="text-danger"></span>
            </div>
            <div class="form-group mt-5">
                <button type="submit" class="btn btn-light btn-outline-white btn-block">Register</button>
            </div>
            <div class="card-footer text-center py-3">
                <p class="text-warning mb-0">Already have an account? <a asp-area="Identity" asp-page="/Account/Login"> Log in here</a></p>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
