@using ProTeamFinder.Common
@model ProTeamFinder.Web.ViewModels.Home.IndexViewModel
@{
    this.ViewData["Title"] = "Home Page";
}

<div class="mt-5">
    <h2 class="text-center font-weight-bold text-dark">Welcome to @GlobalConstants.SystemName!</h2>
    <h3 class="text-center mt-3 text-dark">Find your dream team here!</h3>
    @if (!this.User.Identity.IsAuthenticated)
    {
        <h3 class="text-center mt-4 text-dark">There are currently:</h3>
        <div class="row mt-4 text-center">
            <div class="col-md-3 offset-md-3">
                <h5 class="text-dark" style="font-size: 2rem;">
                    <span><i class="zmdi zmdi-account mr-4"></i></span>@Model.UsersCount Players
                </h5>
            </div>
            <div class="col-md-3">
                <h5 class="text-dark" style="font-size: 2rem;">
                    <span><i class="zmdi zmdi-accounts mr-4"></i></span>@Model.TeamsCount Teams
                </h5>
            </div>
        </div>
        <div class="row justify-content-center">
            <a class="btn split-btn-dark text-primary px-5 mx-2 mt-5"
               asp-area="Identity" asp-controller="Account" asp-action="Register">Register</a>
            <a class="btn split-btn-dark text-primary px-5 mx-2 mt-5"
               asp-area="Identity" asp-controller="Account" asp-action="Login">Log in</a>
        </div>
    }
</div>