@if (this.SignInManager.IsSignedIn(this.User))
{
    <li class="border-top border-light">
        <a asp-area="Identity" asp-page="/Account/Manage/Index">
            <i class="zmdi zmdi-face"></i> <span>Profile</span>
        </a>
    </li>
}
else
{
    <li class="border-top border-light">
        <a asp-area="Identity" asp-page="/Account/Login">
            <i class="zmdi zmdi-lock"></i> <span>Login</span>
        </a>
    </li>
    <li>
        <a asp-area="Identity" asp-page="/Account/Register">
            <i class="zmdi zmdi-account-circle"></i> <span>Registration</span>
        </a>
    </li>
}